html,
body {
  background-color: #e5e5e5;
  /* font style to poppins */
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

.form_area {
  /* height: 100%; */
  /* padding: 20px; */
  background-color: #e5e5e5;
}
#labels {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}


.btn {
  position: relative;
  float: right;
}

.full-height{
  height: 100vh;
}



.active{
  color: #0B63F8;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #302222;
  display: block;
}

.main-content{
  background-color: #e5e5e5;
  height: 100vh;
}

.sidenav a:hover {
  color: #f1f1f1;
}

a {
  display: inline;
  font-size: 1rem;
  padding: 0.5rem;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.center{
  display: flex;
  justify-content: space-around;
}

.clickable-blue {
  color: #0B63F8;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

/* hover on clickable blue change the color slightly */

.clickable-blue:hover{
  color: rgb(66, 66, 217);
}